:root {
  --first-color-text: #2e2f42;
  --body-text: #434455;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --light: #f4f4fd;
  --white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-text);
  background-color: var(--white);
}
header {
  background-color: var(--white);
}
.list {
  font-weight: 500;
  color: var(--first-color-text);
  line-height: 1.5;
  list-style: none;
}
h2 {
  font-weight: 500;
  line-height: 1.2;
}
a {
  text-decoration: none;
}
button {
  background-color: var(--primary-brand);
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
}
span {
  color: var(--first-color-text);
}
a:active,
a:hover {
  color: var(--pressed-state);
}
button:hover {
  background-color: #9747ff;
}

.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.point-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
}
.point-list:hover,
.point-list:focus {
  color: var(--pressed-state);
}
.link {
  text-decoration: none;
}
.highlight {
  color: var(--first-color-text);
}

.address {
  color: var(--body-text);
  font-style: normal;
}

.img-subscription {
  color: var(--body-text);
  letter-spacing: 0.02em;
}
.footer-description {
  color: var(--white);
}
.point-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

.point-address:hover,
.point-address:focus {
  color: var(--pressed-state);
}

.section-first-main {
  background-color: var(--first-color-text);
}
.header-main {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.button-main {
  background-color: var(--primary-brand);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}
.button-main:hover,
.button-main:focus {
  background-color: var(--pressed-state);
}
.third-header-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
}
.p-third-header-main {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

.third-section-header-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-color-text);
}
.section-four-main {
  background-color: var(--light);
}
.four-section-header-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-color-text);
}
.team-member {
  background-color: var(--white);
}
.footer-main {
  background-color: var(--first-color-text);
}
.highlight-footer {
  color: var(--light);
}
.p-footer-main {
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
}
.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background-color: var(--pressed-state);
}
.second-header-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
}
.page-footer {
  background-color: var(--first-color-text);
}
