* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --first-color-text: #2e2f42;
  --body-text: #434455;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --light: #f4f4fd;
  --white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-text);
  background-color: var(--white);
}
header {
  background-color: var(--white);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list {
  font-weight: 500;
  color: var(--first-color-text);
  line-height: 1.5;
  list-style: none;
}
h2 {
  font-weight: 500;
  line-height: 1.2;
}
a {
  text-decoration: none;
}

span {
  color: var(--first-color-text);
}
a:active,
a:hover {
  color: var(--pressed-state);
}
button:hover {
  background-color: #9747ff;
}

.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  width: 71px;
  padding: 25.5px 120px 25.5px 0;
  margin-right: 76px;
}

.link {
  text-decoration: none;
}
.highlight {
  color: var(--first-color-text);
}

.address {
  color: var(--body-text);
  font-style: normal;
}

.card-subscription {
  color: var(--body-text);
  letter-spacing: 0.02em;
  margin-top: 8px;
  font-weight: 400;
}
.footer-description {
  color: var(--white);
}
.address-item {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--body-text);
  padding: 24px 0;
}

.address-item:hover,
.address-item:focus {
  color: var(--pressed-state);
}

.section-first-main {
  max-width: 1440px;
  background-color: var(--first-color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.first-section-header-main {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
}

.button-main {
  background-color: var(--primary-brand);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  padding: 16px 32px;
  margin-top: 30px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.button-main:hover,
.button-main:focus {
  background-color: var(--pressed-state);
}
.section-second-main {
  padding: 120px 0;
}
.section-third-main {
  padding-bottom: 120px;
}
.third-header-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
  margin-bottom: 8px;
  text-align: left;
}
.p-third-header-main {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--body-text);
  text-align: left;
}

.third-section-header-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-color-text);
  margin-bottom: 72px;
}
.four-section-main {
  background-color: var(--light);
  padding: 120px 0;
}
.four-section-header-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-color-text);
  margin-bottom: 72px;
}
.team-member {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
  margin-bottom: 8px;
  text-align: center;
}
.p-team-member {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--body-text);
  text-align: center;
}
.footer {
  background-color: var(--first-color-text);
  padding: 100px 0;
}
.highlight-footer {
  color: var(--light);
}
.p-footer {
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
  max-width: 264px;
}
.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
}
.second-header-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
  margin-bottom: 8px;
}
.page-footer {
  background-color: var(--first-color-text);
}
.header-main {
  border-bottom: 1px solid #e7e9fc;
}
.nav-main {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.address {
  display: flex;
}
.menu-address {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
}

.menu-item:hover,
.menu-item:focus {
  color: var(--pressed-state);
}
.second-section-list-main {
  display: flex;
  gap: 24px;
}
.second-section-list-main-item {
  width: calc((100%-72px) / 4);
}
.third-section-list-main {
  display: flex;
  gap: 24px;
}
.third-section-list-main-item {
  width: calc((100%-48px) / 3);
}

.four-section-list-main {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-member-description {
  padding: 32px 0;
}
.logo-footer {
  display: inline-block;
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.buttons-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.cards-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.card-portfolio {
  width: calc((100% - 48px) / 3);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon-container {
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.social-logos-team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo-team-members {
  width: 40px;
  height: 40px;
}
.social-logo-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-logo-link:hover,
.social-logo-link:focus {
  background-color: var(--pressed-state);
}

.social-logo {
  fill: var(--light);
}
.five-section-main {
  padding: 120px 0;
}
.clients-list {
  display: flex;
  gap: 24px;
}
.client-item {
  height: 88px;
  width: calc((100%-120px) / 6);
}
.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
}
.client-link:hover,
.client-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}
.client-logo {
  fill: currentColor;
}
