:root {
  --first-color-text: #2e2f42;
  --second-color-text: #4d5ae5;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
header {
  background-color: #ffffff;
}
.list {
  font-weight: 500;
  color: var(--first-color-text);
  line-height: 1.5;
  list-style: none;
}
h2 {
  font-weight: 500;
  line-height: 1.2;
}
a {
  text-decoration: none;
}
button {
  background-color: var(--second-color-text);
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
}
span {
  color: var(--first-color-text);
}
a:active,
a:hover {
  color: #404bbf;
}
button:hover {
  background-color: #9747ff;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.point-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
}
.point-list:hover,
.point-list:focus {
  color: #404bbf;
}
.link {
  text-decoration: none;
}
.highlight {
  color: #2e2f42;
}

.address {
  color: #434455;
  font-style: normal;
}

.img-subscription {
  color: #434455;
  letter-spacing: 0.02em;
}
.footer-description {
  color: white;
}
.point-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.point-address:hover,
.point-address:focus {
  color: #404bbf;
}

.section-first-main {
  background-color: #2e2f42;
}
.header-main {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-main {
  background-color: var(--second-color-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-main:hover,
.button-main:focus {
  background-color: #404bbf;
}
.third-header-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.p-third-header-main {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.third-section-header-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-four-main {
  background-color: #f4f4fd;
}
.four-section-header-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-member {
  background-color: #ffffff;
}
.footer-main {
  background-color: var(--first-color-text);
}
.highlight-footer {
  color: #f4f4fd;
}
.p-footer-main {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-color-text);
  background-color: #f4f4fd;
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.second-header-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-footer {
  background-color: #2e2f42;
}
